* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #777;
}

Body {
  margin: 0;
  padding:0;
}

.banner {
  background-color: #aaa;
  text-align: center;
}

.navWrapper {
  max-width: 1250px;
  margin:auto;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  background-color: #aaa;
}

.navBulletPoint a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #eee;
}

.navBulletPoint a:hover {
  background-color: #ddd;
}

.tableMaker {
  text-align: center;
  margin-top: 20px;
}

.uploadBom {
  text-align: center;
  margin-top: 20px;
}